#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/cowdancer
	dh_movefiles -pqemubuilder --sourcedir=debian/cowdancer
	dh_movefiles -pcowbuilder --sourcedir=debian/cowdancer

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

# (shell-command "cd ../ ; debian/rules debian/qemubuilder.README.Debian")
debian/qemubuilder.README.Debian:
	w3m -dump 'http://wiki.debian.org/qemubuilder?action=raw' > $@.tmp
	mv $@.tmp $@

